# Use this as a template for your application.properties
# Remove the '.template' from the file name.
# Replace after the '=' with your information.

spring.datasource.url=<STRING_CONNECTION>
spring.datasource.username=<USERNAME>
spring.datasource.password=<PASSWORD>
spring.datasource.driver-class-name=<DRIVE_CLASS_NAME>
spring.jpa.hibernate.ddl-auto=update